* {
    font-family: Verdana, Arial;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: lightskyblue;
}

#wrapper {
    width: 600px;
    height: 500px;
    margin: auto;
}

header {
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    background: lightblue;
    position: relative;
    border: 3px solid darkblue;
    border-radius: 6px;
    margin: 4px;
}

#ball {
    position: absolute;
    background: darkblue;
    border-radius: 50%;
}

#plate {
    position: absolute;
    background: darkblue;
    border-radius: 10px 10px 0 0;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: calc(100% + 6px);
}

#buttons div {
    background: darkblue;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 30px;
    height: 70px;
    cursor: pointer;
}

#buttons div:nth-child(1) {
    border-radius: 6px 0 0 6px;
    margin-right: 2px;
}

#buttons div:nth-child(2) {
    border-radius: 0 6px 6px 0;
    margin-left: 2px;
}

#buttons div:hover {
    background-color: rgb(1, 1, 100);
}

#results {
    border: 3px solid darkorchid;
    font-size: 30px;
    border-radius: 6px;
    background: darkorchid;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 100%;
}

#lives {
    border: 3px solid lightseagreen;
    font-size: 30px;
    border-radius: 6px;
    background: lightseagreen;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 100%;
}

#message {
    display: none;
    font-size: 50px;
    color: darkred;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#restartGame {
    border: 3px solid darkblue;
    font-size: 30px;
    border-radius: 6px;
    background: darkblue;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 100%;
    cursor: pointer;
}

#restartGame:hover {
    background-color: rgb(1, 1, 100);
}
